{{#if hasItems}}
  {{#if hasBlock}}
    {{yield
      (hash
        currentPage=currentPage
        totalPages=totalPages
        range=range
        onNext=(action 'onNext')
        onPrevious=(action 'onPrevious')
        onPage=(action 'onPage')
      )
    }}
  {{else}}
    <nav class="pagination-container" data-test={{hook 'pagination-container'}} role="navigation" aria-label="Pagination">
      <ul class="pagination-range-container">
        {{#simple-pagination-item tagName="li" onClickItem=(action 'onPrevious') hook='pagination-previous' disabled=(eq currentPage 0) ariaLabel='Previous page' class='pagination-previous-item'}}
          {{#unless (eq currentPage 0)}}
            <a aria-label="Previous page" data-test={{hook 'pagination-item-link-previous'}} class="pagination-item-link">
              Previous
            </a>
          {{else}}
            Previous
          {{/unless}}
        {{/simple-pagination-item}}
        {{#each range as |number|}}
          {{#unless (eq number null)}}
            {{simple-pagination-item tagName="li" onClickItem=(action 'onPage' number) current=(eq currentPage number) ariaLabel=(concat "Page " (add number 1)) number=(add number 1)}}
          {{else}}
            {{#simple-pagination-item disabled=true aria-hidden=true hook="pagination-ellipsis" class="pagination-ellipsis-container"}}
              <p class="pagination-item ellipsis"></p>
            {{/simple-pagination-item}}
          {{/unless}}
        {{/each}}
        {{#simple-pagination-item tagName="li" onClickItem=(action 'onNext') hook='pagination-next' disabled=(gte currentPage (sub totalPages 1)) ariaLabel='Next page' class='pagination-next-item'}}
          {{#unless (gte currentPage (sub totalPages 1))}}
            <a aria-label="Next page" data-test={{hook 'pagination-item-link-next'}} class="pagination-item-link">
              Next
            </a>
          {{else}}
            Next
          {{/unless}}
        {{/simple-pagination-item}}
      </ul>
    </nav>
  {{/if}}
{{/if}}
